*.lua linguist-language=X
UniqueComponentMods/125 Unique Components (v 1)/Iroquois/Reforestation.sql linguist-documentation=false
UniqueComponentMods/Iroquoian Forest (v 1)/Iroquois/Reforestation.sql linguist-documentation=false
